h2 {color: firebrick; font-family: Verdana;}
h3 {color: indianred;}
label {font-size: 15px; font-weight: bold;}
input {background-color: pink;}
textarea {background-color: ivory;}

h2 {color: pink; font-family: Verdana;}
h3 {color: indianred;}
label {font-size: 20px; font-weight: bold;}
input {background-color: yellow;}
textarea {background-color: pink;}
.header {color: white; background-color: white; text-align: center;padding:5px;}
.topnav{
overflow: hidden;
background-color: #333;
}
.topnav a{
float: left;
display: block;
color: pink;
text-align: center;
padding: 14px 16px; 
text-decoration: none;
}
.column {float: left;}
.colomn.side { width: 30%;}
.column.middle {width: 70%;}
.footer {
background-color: #F1F1F1;
text-align: center;
padding: 10px;
}
